
body {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    background-image: url('https://www.foodnavigator-usa.com/var/wrbm_gb_food_pharma/storage/images/_aliases/wrbm_large/publications/food-beverage-nutrition/foodnavigator-usa.com/news/manufacturers/m-m-s-new-campaign-to-bring-people-closer-together-triggers-blowback-snark-across-social-media/13174817-1-eng-GB/M-M-s-new-campaign-to-bring-people-closer-together-triggers-blowback-snark-across-social-media.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

article {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    transition: border 0.3s ease-in-out;
}

article:hover {
    border: 1px solid #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


footer p:hover {
    color: #ffcc00;
    cursor: pointer;
}

.logo img.small-logo {
    width: 50px; /* width to a standard size */
    height: auto;
}
.logo img.small-logo:hover {
    transform: scale(1.1); /*  hover effect */
}

.candy-container {
    display: flex;
    justify-content: space-between;
}

.candy {
    max-width: 48%;
    height: auto;
}
.candy:hover {
    transform: scale(1.1); /*  hover effect */
}

